**1. Write a Python program to sum all the items**

In [1]:
l = [1,7,-10,34,2,-8]
sum(l)

26

**2. Write a Python program to multiply all the items in a list**

In [10]:
def multiply(l):
    result = 1
    for i in l:
        result = resulti
        print(result)
    return result

In [11]:
l = [3,4,5,4,7]
multiply(l)

1680

**3. Write a Python program to get the largest number from a list**

In [12]:
l = [1,7,10,34,2,8]
max(l)

34

**4. Write a Python program to get the smallest number from a list**

In [13]:
l = [51,7,10,34,2,8]
min(l)

2

**5. Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings**

In [16]:
def countstring(l):
    count = 0
    for s in l:
        if len(s) >= 2 and s[0] == s[-1]:
            count += 1
    print(f"Strings witth first and last character same are: {count}")

In [17]:
l = ['abc', 'xyz', 'aba', '1221']
countstring(l)

Strings witth first and last character same are: 2

**6. Write a Python program to remove duplicates from a list**

In [18]:
def removeduplicate(l):
    return list(set(l))

In [20]:
l = [1,2,3,7,2,1,5,6,4,8,5,4]
removeduplicate(l)

[1, 2, 3, 4, 5, 6, 7, 8]

**7. Write a Python program to check a list is empty or not**

In [21]:
def emptyOrNot(l):
    if len(l) == 0:
        print("List is Empty")
    else:
        print("List is Not Empty")

In [22]:
l7 = [34,45,6,5,4,56,7]
emptyOrNot(l7)

List is Not Empty

In [23]:
l7a = []
emptyOrNot(l7a)

List is Empty

__8. Write a Python program to clone or copy a list__

In [26]:
l8 = [10, 22, 44, 23, 4]
l8copy = l8.copy()
print("Clone or copy of list : ", l8copy)

Clone or copy of list :  [10, 22, 44, 23, 4]

**9. Write a Python program to find the list of words that are longer than n from a given list
of words**

In [28]:
def nlistofwords(l,n):
    for s in l:
        if len(s) < n:
            l.remove(s)
    print(f"Given value of n : {n}")
    print(f"List without words longer than {n} : {l}")

In [31]:
l9 = ['cat', 'Words', 'xy', 'Longer', 'github', 'bye', 'given', 'Words']
nlistofwords(l9, 4)

Given value of n : 4
List without words longer than 4 : ['Words', 'Longer', 'github', 'given', 'Words']

**10. Write a Program that get two lists as input and check if they have at least one common member**

In [40]:
def leastcommon(l1, l2):
    result = False
    for e in l1:
        if e in l2:
            result = True
    print("Lists have at least one common member") if result else print("Lists have no common member")

In [41]:
l10a = [1,2,3,4,5]
l10b = [5,6,7,8,9]
leastcommon(l10a, l10b)

Lists have at least one common member

In [42]:
l10a = [1,2,3,4,5]
l10b = [6,7,8,9]
leastcommon(l10a, l10b)

Lists have no common member

**11. Write a Python program to print a specified list after removing the 0th, 4th and 5th
elements. (enumerate)**

In [49]:
def remove045(l):
    lc = l.copy()
    for i, e in enumerate(l):
        if i ==0 or i == 4 or i ==5:
            lc.remove(e)
    print(lc)

In [50]:
l11 = ["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Ponda"]
remove045(l11)

['Dog', 'Elephant', 'Fox', 'Ponda']

**12. Write a Python program to print the numbers of a specified list after removing even
numbers from it**

In [52]:
l12 = [7,32,81,20,25,14,23,27]
list(filter(lambda x: x % 2 != 0, l12))

[7, 81, 25, 23, 27]

**13. Write a Python program to shuffle and print a specified list (shuffle)**

In [56]:
import random
l13 = ["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Ponda"]
l13ans = sorted(l13, key=lambda x: random.random())
print(l13ans)

['Cat', 'Fox', 'Ponda', 'Elephant', 'Tiger', 'Dog', 'Lion']

**14. Write a Python program to generate and print a list of first and last 5 elements where
the values are square of numbers between 1 and 30**

In [72]:
def filterandsquare(l):
    newList = []
    for c in l:
        newList.append(c*c)
    print(f"First five : ", newList[:5])
    print(f"Last five : ", newList[-5:])

In [73]:
l14 = [*range(1,30)]
filterandsquare(l14)

First five :  [1, 4, 9, 16, 25]
Last five :  [625, 676, 729, 784, 841]

**15. Write a Python program to generate all permutations of a list in Python. (itertools)**

In [75]:
from itertools import permutations
l15 = [1,2,3]
print(list(permutations(l15)))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

**16. Write a Python program to convert a list of characters into a string**

In [83]:
l16 = ['T','u','t','o','r',' ','J','o','e','s']
"".join(l16)

'Tutor Joes'

**17. Write a Python program to find the index of an item in a specified list**

In [86]:
l17 = [20, 70, 30, 90, 10, 30, 90, 10, 80]
n = 30
print(f"Item to find the index of {n}")
print(f"Index Number of Item = {l17.index(n)}")

Item to find the index of 30
Index Number of Item = 2

**18. Write a Python program to flatten a shallow list**

In [94]:
l18 = [[20,30,70],[30,90,10], [30,20], [70,90,10,80]]
l18ans = []
for l in l18:
    l18ans.extend(l)
print(l18ans)

[20, 30, 70, 30, 90, 10, 30, 20, 70, 90, 10, 80]

**19. Write a Python program to add a list to the second list**

In [99]:
l19a = [10, 20, 30, 40]
l19b = ["Cat", "Dog", "Lion", "Ponda"]
l19ans = l19a + l19b
print(l19ans)

[10, 20, 30, 40, 'Cat', 'Dog', 'Lion', 'Ponda']

**20. Write a Python program to select an item randomly from a list Using random.choice()**

In [101]:
l20 = ["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Ponda"]
print(f"Item randomy select from a lisy is: {random.choice(l20)}")

Item randomy select from a lisy is: Cat

**21. Write a python program to check whether two lists are circularly identical**

In [109]:
l21a =[8, 8, 12, 12, 8]
l21b = [8, 8, 8, 12, 12]
l21c = [1, 8, 8, 12, 12]

def circularyIdentical(l1, l2):
    i = len(l2)
    l2 = l2*2
    l2 = l2[1:i+1]
    print(f"Compare List1 and List2: {l1 == l2}")
circularyIdentical(l21a, l21b)
circularyIdentical(l21a, l21c)

Compare List1 and List2: True
Compare List1 and List2: False

**22. Write a Python program to find the second smallest number in a list**

In [122]:
l22 = [2,4,56,78,4,34,5,8,9]
l22.sort()
print(f"Second smallest number is: f{l22[1]}")

Second smallest number is: f4

**23. Write a Python program to find the second largest number in a list**

In [124]:
l23 = [82,4,56,78,4,34,5,100,9]
l23.sort()
print(f"Second larget number is : {l23[-2]}")

Second larget number is : 82

**24. Write a Python program to get unique values from a list**

In [125]:
l24 = [82, 4, 10, 56, 78, 4, 34, 5, 10, 9]
list(set(l24))

[34, 4, 5, 9, 10, 78, 82, 56]

**25. Write a Python program to get the frequency of the elements in a list.**

In [131]:
l25 = [10, 30, 50, 10, 20, 60, 20, 60, 40, 40, 50, 50, 30]
counter = {}
for e in l25:
    counter[e] = l25.count(e)
print(counter)

{10: 2, 30: 2, 50: 3, 20: 2, 60: 2, 40: 2}

**26. Create a list by concatenating a given list which range goes from 1 to n**

In [134]:
l26 = ['T', 'J']
n = 10
l26ans = []
for i in range(1,n+1):
    for e in l26:
        l26ans.append(e + str(i))
print(l26ans)

['T1', 'J1', 'T2', 'J2', 'T3', 'J3', 'T4', 'J4', 'T5', 'J5', 'T6', 'J6', 'T7', 'J7', 'T8', 'J8', 'T9', 'J9', 'T10', 'J10']

**27. Write a Python program to get variable unique identification number or string**

In [135]:
x = 30
s = "Tutor Joes"
print(f"Unique Identification Number : f{id(x)}")
print(f"Unique Identification String : {id(s)}")

Unique Identification Number : f1580226118800
Unique Identification String : 1580342543856

**28. Write a Python program to find common items from two lists**

In [138]:
l28a = [23,45,67,78,89,34]
l28b = [34,89,55,56,39,67]
l28ans = []
for a in l28a:
    if a in l28b:
        l28ans.append(a)
print(f"Common items from two lists are: {l28ans}")

Common items from two lists are: [67, 89, 34]

**29. Write a Python program to split a list based on first character of word**

In [161]:
l29 = ["cat", "dog", "cow", "tiger", "lion", "Fox", "Shark", "Snake", "turtle", "mouse", "monkey",
"bear"]
l29.sort()
dictionary = {}
for word in l29:
   f = word[0]
   if f in dictionary.keys():
        dictionary[f].append(word)
   else:
        dictionary[f] = [word]

for letter in dictionary:
    print(letter)
    print("\n".join(dictionary[letter]))

F
Fox
S
Shark
Snake
b
bear
c
cat
cow
d
dog
l
lion
m
monkey
mouse
t
tiger
turtle

**30. Write a Python program to select the odd number of a list**

In [164]:
l30 = [1,2,4,3,6,7,5,8,9,7,8,9,10]
print(list(filter(lambda x: x%2 != 0, l30)))

[1, 3, 7, 5, 9, 7, 9]

**31. Write a Python Program to count unique values inside a list**

In [166]:
l31 = [10, 20, 30, 50, 80, 70, 70, 80, 10]
print(f"No of unique items in list : {len(set(l31))}")

No of unique items in list : 6

**32. Write a Python Program to List product excluding duplicates**

In [168]:
l32 = [2, 1, 2, 4, 6, 4, 3, 2, 1]
l32ans = list(filter(lambda e: l32.count(e) < 2, l32))
print(f"List after duplicates removed {l32ans}")

List after duplicates removed [6, 3]

**33. Write a Python Program to Extract elements with Frequency greater than K**

In [169]:
l33 = [4, 6, 4, 3, 3, 4, 3, 7, 8, 8]
k = 2
l33ans = list(filter(lambda e: l33.count(e) > k, l33))
print(f"List after extracting elements with frequency greater than {k}: {l33ans}")

List after extracting elements with frequency greater than 2: [4, 4, 3, 3, 4, 3]

**34. Write a Python Program to Test if List contains elements in Range**

In [172]:
l34 = [4, 5, 6, 7, 3, 9]

r = range(1,5)
result = True

for i in l34:
    if i in r:
        continue
    else:
        result = False

print(f"Does list contain all elements in range : {result}")

Does list contain all elements in range : False

**35. Write a Python program to check if the list contains three consecutive common
numbers in Python**

In [179]:
l35 = [18, 18, 18, 6, 3, 4, 9, 9, 9]
l35.sort()
l35ans = list(filter(lambda e: l35.count(e) == 3, set(l35)))
print(f"Three Consecutive common numbers = {l35ans}")

Three Consecutive common numbers = [9, 18]

**36. Write a Python program to find the Strongest Neighbour**

In [181]:
l36 = [10,20,30,20,30,400]
a2 = []
for i in range(1, 6):
    r = max(l36[i], l36[i-1])
    a2.append(r)
for i in a2 :
    print(i,end=" ")

20 30 30 30 400

**37. Write a Python Program to print all Possible Combinations from the three Digits**

In [193]:
l37 = [1,2,3]

for i in l37:
    l = l37.copy()
    l.remove(i)
    l = l*2
    for j in range(2):
        print(i, l[j], l[j+1])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**38. Write a Python program to find all the Combinations in the list with the given condition**

In [194]:
l38 = ['Tutor Joes', ['Software', 'Computer'], ['Solution', 'Education']]
for a in l38[1]:
    for b in l38[2]:
        print(l38[0], a, b)

Tutor Joes Software Solution
Tutor Joes Software Education
Tutor Joes Computer Solution
Tutor Joes Computer Education

**39. Write a Python program to get all unique combinations of two Lists**

In [198]:
l39a = ['A','B','C']
l39b = [1,2,3]

lol = []
for a in l39a:
    lst = []
    for b in l39b:
        list.append((a, b))
    lol.append(lst)
print(lol)

[[('A', 1), ('A', 2), ('A', 3)], [('B', 1), ('B', 2), ('B', 3)], [('C', 1), ('C', 2), ('C', 3)]]

**40. Write a Python program to remove all the occurrences of an element from a list**

In [2]:
l40 = [1, 3, 4, 6, 5, 1]
list(filter(lambda e: l40.count(e) <= 1, l40))

[3, 4, 6, 5]

**41. Write a Python Program to Remove Consecutive K element records**

In [15]:
l41 = [ ('A', 'B', 'C', 'D'), ('B', 'C', 'C', 'I'), ('H', 'D', 'B', 'C'), ('C', 'C', 'G', 'F') ]
print("Original List : " + str(l41))
K = 'C'
res = []
for i in l41:
    t = any([i[j] == K and i[j+1] == K for j in range(len(i) - 1)])
    if not t: res.append(i)
print("After Removal : " , res)

Original List : [('A', 'B', 'C', 'D'), ('B', 'C', 'C', 'I'), ('H', 'D', 'B', 'C'), ('C', 'C', 'G', 'F')]
After Removal :  [('A', 'B', 'C', 'D'), ('H', 'D', 'B', 'C')]

**42. Write a Python Program to Replace index elements with elements in Other List**

In [16]:
l42 = ['Tutor Joes', 'Computer', 'Education']
i42 = [2, 1, 0, 1, 0, 2, 2, 0, 1, 0, 1, 2]
res = []
for i in i42:
    res.append(l42[i])
print(res)

['Education', 'Computer', 'Tutor Joes', 'Computer', 'Tutor Joes', 'Education', 'Education', 'Tutor Joes', 'Computer', 'Tutor Joes', 'Computer', 'Education']

**43. Write a Python Program to Retain records with N occurrences of K**

In [26]:
l43 = [ (4, 5, 6, 5, 4), (4, 5, 3), (5, 5, 2), (3, 4, 9) ]
K = 5
N = 2

list(filter(lambda e: list(e).count(K) == N, l43))

[(4, 5, 6, 5, 4), (5, 5, 2)]

**44. Write a Python Program to Swap elements in String list**

In [27]:
l44 = ["Tutor","joes","Computer","Education"]
print("Before Swap :",l44)
res = [sub.replace("joes","Joe's").replace("Computer", "Software").replace("Education", "Solutions") for sub in l44]
print ("After Swap : ",res)

Before Swap : ['Tutor', 'joes', 'Computer', 'Education']
After Swap :  ['Tutor', "Joe's", 'Software', 'Solutions']

**45. Write a Python program to reverse All Strings in String List**

In [43]:
l45 = ['Tutor', 'joes', 'Computer', 'Education']
l45ans = []
for i in l45:
    l45ans.append(i[::-1])
l45ans

['rotuT', 'seoj', 'retupmoC', 'noitacudE']

**46. Write a Python program to find the character position of Kth word from a list of strings**

In [51]:
l46 = ['Tutor', 'joes', 'Computer', 'Education']
K = 20
for l in l46:
    K = K - len(l)
    if K < 1:
        print(f"Index of character at Kth position word: {l46.index(l)}")

Index of character at Kth position word: 3

**47. Write a Python Program to Prefix frequency in string List**

In [52]:
l47 = ['TjC', 'TjCpp', 'TjPython', 'Java']
Prefix = 'Tj'
sum = 0
for l in l47:
    if Prefix in l:
        sum += 1
print(f"Strings count with matching frequency : {sum}")

Strings count with matching frequency : 3

**48. Write a Python Program to Split Strings on Prefix Occurrence**

In [54]:
l48 = ['TjC', 'TjCpp', 'TjPython', 'Java', 'tj']
Prefix = 'Tj'

res = []
for val in l48:
	if val.startswith(Prefix):
		res.append([val])
	else:
		res[-1].append(val)
print("Prefix Split List : " + str(res))

Prefix Split List : [['TjC'], ['TjCpp'], ['TjPython', 'Java', 'tj']]

**49. Write a Python program to Replace all Characters of a List Except the given character**

In [56]:
l49 = ['P', 'Y', 'T', 'H', 'O', 'N']
K = 'T'
l49ans = [i if i == K else '@' for i in l49]
l49ans

['@', '@', 'T', '@', '@', '@']

**50. Write a Python Program to Add Space between Potential Words**

In [58]:
l50 = ['TutorJoes', 'ComputerEducations']

res = []
for l in l50:
	t = [[]]
	for ch in l:
		if ch.isupper():
			t.append([])
		t[-1].append(ch)
	res.append(' '.join(''.join(i) for i in t))
 
print("The space added list of strings : " , res)

The space added list of strings :  [' Tutor Joes', ' Computer Educations']