**1. Write a Python program to create a tuple**

In [1]:
Tuple = (5,6)

**2. Write a Python program to create a tuple with different data types**

In [2]:
tuple_different_types = (5, 't', 6.7, {5,8}, ['hello', 'timi'])

**3. Write a Python program to create a tuple with numbers and print one item**

In [3]:
tup = (5,6,7,8,9)
print(tup[0])

5

**4. Write a Python program to unpack a tuple in several variables**

In [4]:
a, b, c = (3,5,'c')

**5. Write a Python program to add an item in a tuple**

In [19]:
tup = ('a','c','d')
tup = tup + ('b',)

**6. Write a Python program to convert a tuple to a string**

In [22]:
tup = ('h','e', 'l', 'l','o')
"".join(tup)

'hello'

**7. Write a Python program to get the 4th element and 4th element from last of a tuple**

In [23]:
t = (1,5,3,6,7,34,65)
print(f"4th element {t[4]}")
print(f"4th element from last {t[-4]}")

4th element 7
4th element from last 6

**8. Write a Python program to create the colon of a tuple**

In [28]:
from copy import deepcopy
t8 = ("Tutor", 'J', 23 , 56.67 , [23,12] , True)
t8copy = deepcopy(t8)
print(f"Original {t8}")
print(f"Copy {t8copy}")

Original ('Tutor', 'J', 23, 56.67, [23, 12], True)
Copy ('Tutor', 'J', 23, 56.67, [23, 12], True)

**9. Write a Python program to find the repeated items of a tuple**

In [30]:
t9 = (2, 34, 45, 6, 7, 2, 4, 5, 78, 34, 2)
item = 2
print(f"repeated number of times: {t9.count(item)}")

repeated number of times: 3

**10. Write a Python program to check whether an element exists within a tuple**

In [35]:
t10 = ('T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's',8)
print(f"8 in Tupel = {8 in t10}")
print(f"'x' in Tupel = {'x' in t10}")

8 in Tupel = True
'x' in Tupel = False

**11. Write a Python program to convert a list to a tuple**

In [37]:
l11 = ['w', 5, 'get']
t11 = tuple(l11)
print(t11)

('w', 5, 'get')

**12. Write a Python program to remove an item from a tuple**

In [46]:
t12 = (23, 45, 56, 68, 10, 45, 7, 9)
item = 56
lst = list(t12)
lst.remove(item)
t12ans = tuple(lst)
print(t12ans)

(23, 45, 68, 10, 45, 7, 9)

**13. Write a Python program to slice a tuple**

In [61]:
t13 = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
t13ans = tuple(list(t13)[3:8])
print(t13ans)

(40, 50, 60, 70, 80)

**14. Write a Python program to find the index of an item of a tuple**

In [62]:
t14 = (23, 45, 67, 78, 89, 90, 34, 56)
Item = 78
print(f"Index Number : {t14.index(Item)}")

Index Number : 3

**15. Write a Python program to find the length of a tuple**

In [63]:
t15 = ("Lion", "Cat", "Dog", "Panda", "Tiger", "Fox")
print(f"Length : {len(t15)}")

Length : 6

**16. Write a Python program to convert a tuple to a dictionary**

In [64]:
t16 = ( ("Name", "Ram"), ("Age", 23), ("City", "Salem"), ("Mark", 422) )
d16 = dict(t16)
print(d16)

{'Name': 'Ram', 'Age': 23, 'City': 'Salem', 'Mark': 422}

**17. Write a Python program to unzip a list of tuples into individual lists**

In [71]:
l17 = [ (10,30), (60,90), (20,50) ]
t17 = tuple(zip(l17[0], l17[1], l17[2]))
print(t17)

((10, 60, 20), (30, 90, 50))

**18. Write a Python program to reverse a tuple**

In [75]:
t18 =  ( 23, 45, 67, 78, 89, 90, 34, 56 )
l18 = list(t18)
l18.reverse()
t18ans = tuple(l18)
print(t18)
print(t18ans)

(23, 45, 67, 78, 89, 90, 34, 56)
(56, 34, 90, 89, 78, 67, 45, 23)

**19. Write a Python program to convert a list of tuples into a dictionary**

In [76]:
l19 = [ ("Name", "Ram"), ("Name", "Pooja"), ("Age", 21), ("Gender", "Male"), ("Age", 23), ("Gender", 
"Female") ]
d19 = dict(l19)
print(d19)

{'Name': 'Pooja', 'Age': 23, 'Gender': 'Female'}

**20. Write a Python program to print a tuple with string formatting**

In [79]:
t20 = ("watermelons", "strawberries", "mangoes", "bananas", "grapefruits", "oranges", "apples", 
"pears")
print(str(t20))

('watermelons', 'strawberries', 'mangoes', 'bananas', 'grapefruits', 'oranges', 'apples', 'pears')

**21. Create a tuple with single item 23**

In [82]:
t21 = (23,)
print(type(t21))
print(t21)

<class 'tuple'>
(23,)

**22. Unpack the tuple into 5 variables**

In [87]:
t22 = (11, 22, 333, 44, 55)
a, b, c, d, e = t22
print(a)
print(b)
print(c)
print(d)
print(e)

11
22
333
44
55

**23. Swap two tuples in Python**

In [89]:
t23a = (10, 20)
a, b = t23a
t23ans = (b,a)
print(f"Original tuple {t23a}")
print(f"Swapped tuple {t23ans}")

Original tuple (10, 20)
Swapped tuple (20, 10)

**24. Copy specific elements from one tuple to a new tuple**

In [91]:
t24 = (10,20,30,40,50,60,70,80,90,100)
t24ans = t24[2:8]
print(t24ans)

(30, 40, 50, 60, 70, 80)

**25. Modify the tuple**

In [93]:
t25 = ( 10, 20, 30, 40, 50)
l25 = list(t25)
l25[2] = 33
t25ans = tuple(l25)
print(t25ans)

(10, 20, 33, 40, 50)

**26. Sort a tuple of tuples by 2nd item**

In [99]:
t26 = ( ('a', 53), ('b', 37), ('c', 23), ('d', 1), ('e', 18) )
t26ans = tuple(sorted(t26, key=lambda x: (x[1])))
print(t26ans)

(('d', 1), ('e', 18), ('c', 23), ('b', 37), ('a', 53))

**27. Counts the number of occurrences of item 30 from a tuple**

In [101]:
t27 = (30, 50, 10, 30, 70, 50, 30)
print(f"Number of 30 in tuple is: {t27.count(30)}")

Number of 30 in tuple is: 3

**28. Write a Python program to compute element-wise sum of given tuples**

In [105]:
A = (2, 5, 8)
B = (6, 5, 1)
C = (1, 4, 7)
D = (3, 7, 2)
l28 = [A[i] + B[i] + C[i] + D[i] for i in range(len(A))]
print(f"sum of elements : {tuple(l28)}")

sum of elements : (12, 21, 18)

**29. Write a Python program to sort a tuple by its float element**

In [108]:
t29 = [ ('Ram', '89.20'), ('Siva', '76.45'), ('Pooja', '84.40'), ('Tara', '68.43'), ('Jeeva', '91.40') ]
t29ans = tuple(sorted(t29, key=lambda x: x[1], reverse=True))
print(t29ans)

(('Jeeva', '91.40'), ('Ram', '89.20'), ('Pooja', '84.40'), ('Siva', '76.45'), ('Tara', '68.43'))

**30. Write a Python program to replace last value of tuples in a list**

In [110]:
l30 = [(5, 2, 3), (4, 7, 6), (8, 9, 6)]
val = 10
l30ans = []
for t in l30:
    lst = list(t)
    lst[-1] = val
    l30ans.append(tuple(lst))
print("Before replace")
print(l30)
print("After replace")
print(l30ans)

Before replace
[(5, 2, 3), (4, 7, 6), (8, 9, 6)]
After replace
[(5, 2, 10), (4, 7, 10), (8, 9, 10)]

**31. Write a Python program to Extract tuples having K digit elements**

In [14]:
l31 = [ (47, 23), (3, 78), (22, 53), (121, 45), (7,) ]
K = 2
lst = []
for l in l31:
    if all([len(str(c)) == K for c in l]):
        lst.append(l)
print(lst)

[(47, 23), (22, 53)]

**32. Write a Python program to Extract Symmetric Tuples**

In [26]:
l32 = [ (18, 23), (2, 9), (7, 6), (9, 2), (10, 2), (23, 18) ]
s32 = {(b, a) for a, b in l32}
s32 = set(l32) & s32 
s32ans = {(a, b) for a, b in s32 if a < b}
print(s32ans)

{(2, 9), (18, 23)}

**33. Write a Python program to Sort Tuples by their Maximum element**

In [31]:
t33 = [ (4, 5, 5, 7), (1, 3, 7, 4), (19, 4, 5, 3), (1, 2) ]
list(sorted(t33, key=lambda x: max(x), reverse=True))

[(19, 4, 5, 3), (4, 5, 5, 7), (1, 3, 7, 4), (1, 2)]

**34. Write a Python program to Remove nested records from tuple**

In [35]:
t34 = (10, 20, (30,), 40, (50, 60), 70)
t34ans = tuple(filter(lambda e: type(e) != tuple, t34))
print(f"Removed nested tuple: {t34ans}")

Removed nested tuple: (10, 20, 40, 70)

**35. Write a Python program to Elements Frequency in Mixed Nested Tuple**

In [57]:
t35 = (10, 20, (20, 10), 30, (40, 50, 60), 60, 70)

lst = []
for t in t35:
    if type(t) == tuple:
        lst.extend(t)
    else:
        lst.append(t)

d35 = dict()
for l in lst:
    if l in d35:
        d35[l] += 1
    else:
        d35[l] = 1
print("frequency of elements :", d35)

frequency of elements : {10: 2, 20: 2, 30: 1, 40: 1, 50: 1, 60: 2, 70: 1}

**36. Write a Python program to get unique elements in nested tuple**

In [59]:
t36 = [ (1, 3, 5), (4, 5, 7), (1, 2, 6), (10, 9), (10,) ]
lst = []
for t in t36:
    if type(t) == tuple:
        lst.extend(t)
    else:
        lst.append(t)
print("Unique elements in the list :", list(set(lst)))

Unique elements in the list : [1, 2, 3, 4, 5, 6, 7, 9, 10]

**37. Write a Python program to Concatenate tuples to nested tuples**

In [66]:
t37a = ((18, 23, 2, 9),)
t37b = ((10, 3, 11),)
t37ans = (*t37a, *t37b)
print("Tuples after concatensationg :", t37ans)

Tuples after concatensationg : ((18, 23, 2, 9), (10, 3, 11))

**38. Write a Python program to Sort by Frequency of second element in Tuple List**

In [72]:
t38 = [ (2, 7), (3, 7), (2, 5), (8, 7), (6, 5), (9, 8) ]
lst = []
for t in t38:
    if type(t) == tuple:
        lst.extend(t)
    else:
        lst.append(t)
l38 = list(sorted(t38, key=lambda x: lst.count(x[1]), reverse=True))
print("Sorted by the second element frequency :", l38)

Sorted by the second element frequency : [(2, 7), (3, 7), (8, 7), (2, 5), (6, 5), (9, 8)]

**39. Write a Python program to Sort lists in tuple**

In [82]:
t39 = ( [10, 50, 60], [80, 20, 30], [70, 100, 40], (90,) )
l39 = [ list(e) if type(e) == tuple else e for e in t39]
print("sorted list :", tuple(sorted(l39, key=lambda x: min(x))))

sorted list : ([10, 50, 60], [80, 20, 30], [70, 100, 40], [90])

**40. Write a Python program to Order Tuples using external List**

In [85]:
t40 = [ ('B', 68), ('D', 70), ('A', 67), ('C', 69) ]
print("Ordered list tuple :", list(sorted(t40)))

Ordered list tuple : [('A', 67), ('B', 68), ('C', 69), ('D', 70)]

**41. Write a Python program to Filter Tuples by Kth element from List**

In [89]:
t41 = [ ('B', 68), ('D', 70), ('A', 67), ('C', 69) ]
Kelems = [67 , 70 , 71, 75]
K = 1
l41 = list(filter(lambda x: x[K] in Kelems, t41))
print("Filtered tuple ", l41)

Filtered tuple  [('D', 70), ('A', 67)]

**42. Write a Python program to Closest Pair to Kth index element in Tuple**

In [98]:
t42 = [ (23, 18), (9, 2), (2, 3), (9, 18), (23, 2) ]
t = (20,2)
l42 = [ abs(e[0] - t[0]) for e in t42]
inx = min(l42)
t42ans = t42[l42.index(inx)]
print("Nearest Tuple ", t42ans)

Nearest Tuple  (23, 18)

**43. Write a Python program to Tuple List intersection (Order irrespective)**

In [118]:
l43a = [ (3, 4), (5, 6), (9, 10), (4, 5) ]
l43b = [ (5, 4), (3, 4), (6, 5), (9, 11) ]

l43swappeed = [ (b, a) for a, b in l43b] 
s43a = set(l43swappeed).union(set(l43b))
s43b = set(l43a) & s43a
print("Intersection :", s43b)

Intersection : {(4, 5), (5, 6), (3, 4)}

**44. Write a Python program to Intersection in Tuple Records Data**

In [119]:
l44a = [ ('A', 65), ('D', 68), ('B', 66) ]
l44b = [ ('D', 68), ('C', 67), ('A', 65) ]

inter = set(l44a) & set(l44b)

print("Intersection of data records :", inter)

Intersection of data records : {('D', 68), ('A', 65)}

**45. Write a Python program to Unique Tuple Frequency (Order Irrespective)**

In [124]:
l45 = [ (3, 4), (1, 2), (4, 3), (5, 6), (6,5) ]
for a, b in l45:
    if (b, a) in l45:
        l45.remove((b,a))
print("Uniques tuples :", l45)
print("Uniques tuples count :", len(l45))

Uniques tuples : [(3, 4), (1, 2), (5, 6)]
Uniques tuples count : 3

**46. Write a Python program to Skew Nested Tuple Summation**

In [126]:
l46 = (1, (2, (3, (4, (5, None)))))
sum = 0
for i in range(5):
    a, b = l46
    sum += a
    l46 = b
print("Summation of 1st positions :", sum)

Summation of 1st positions : 15

**47. Write a Python program to Convert Binary tuple to Integer**

In [131]:
t47 = (1, 0, 1, 0)
n = len(t47)
binary = 0
for i in range(n):
    binary += t47[n-i-1]*pow(2,i)
print("Decimal :", binary)

Decimal : 10

**48. Write a Python program to Tuple XOR operation**

In [137]:
t48a = (10, 4, 6, 9)
t48b = (5, 2, 3, 3)

t48ans = tuple(e1 ^ e2 for e1, e2 in zip(t48a, t48b))
print("XOR tuple :", t48ans)

XOR tuple : (15, 6, 5, 10)

**49. Write a Python program to AND operation between Tuples**

In [139]:
t49a = (10, 4, 6, 9)
t49b = (5, 2, 3, 3)

t49ans = tuple(e1 & e2 for e1, e2 in zip(t49a, t49b))
print("AND tuple :", t49ans)

AND tuple : (0, 0, 2, 1)

**50. Write a Python program to Elementwise AND in tuples**

In [140]:
t50a = (10, 4, 6, 9)
t50b = (5, 2, 3, 3)

t50ans = tuple(e1 & e2 for e1, e2 in zip(t50a, t50b))
print("AND tuple :", t50ans)

AND tuple : (0, 0, 2, 1)